@model List<Course>

<a asp-controller="Course" asp-action="Create">

	<div class="animate__animated animate__backInLeft Add-course">
		Add New Course
	</div>
</a>

<table class="table table-dark table-striped table-course">
	  <thead> 
		  <tr>
			  <td>ID</td>
			  <td>Name</td>
			<td>Prof Name</td>

			<td class="coulum-table">update</td>
			<td class="coulum-table" >Delete</td>
		  </tr>

	  </thead>
	
	  @{
		foreach (var c in Model)
		{
               <tr>
			   <td>@c.CourseId</td>
				<td>@c.CourseName</td>
				<td>@c.professor.ProfessorName</td>
				<td>
					<a class="btn btn-success" role="button" asp-action="Update" asp-route-id="@c.CourseId">
						<span class="material-symbols-outlined">
							Update
						</span>
					</a>
				</td>
				<td>
				<a class="btn btn-danger " role="button" asp-action="Delete" asp-route-id="@c.CourseId">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
				</a>
				</td>
			   </tr>
		}
	  }
		
</table>